:root {
  --color-primary: #222222;
  --color-secondary: #ffffff;
  --color-blue: #008bfe;
  --color-bg: #f0f4f8;

  --font: 'Roboto', sans-serif;

  --br12: 12px;
  --br100: 100px;
}

body {
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-primary);

  display: grid;
  place-items: center;
  min-height: 100vh;
}
